.content-page {
  min-height: 100vh;
}
.pages-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  overflow: hidden;
  font-size: 13px;
}

.pages-wrap-mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  // background-image: url('../../assets/images/background.png');
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: none;
  z-index: 2;
  // background-repeat: no-repeat;
  // background-position: left center;
  // background-size: cover;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.pages-body {
  flex: 1;
  //display: flex;
  //flex-direction: row;
  background: #f5f7f9;
  overflow-x: hidden;

.pages-content {
    padding: 0px;
    flex: 1;
    border-left: 1px solid rgb(245, 247, 249);
    border-top: 1px solid rgb(245, 247, 249);
    color: #26253c;
    overflow-x: hidden;
    padding-top: 0;
  }
}

.pages-body-mobile {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px !important; /* Remove scrollbar space */
  background: transparent !important; /* Optional: just make scrollbar invisible */
}
